#nav-link-custom {
    color: white;

}

.fa-facebook {
    color:darkslategrey;

}

.fa-instagram{
    color:darkslategrey;
}

.fa-linkedin{
    color:darkslategrey;
}


h1{
    text-align: center;
}

h2{
    text-align: center;
    padding-bottom: 7%;
    text-decoration-line: underline overline;
    
}

h3{
    text-align: center;
}

#navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
}

strong{
    color:#6c1717;
}

p{
    margin: 2%;
}

#eveAnneRousselin{
    background-color: white;
    margin: auto; 
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    margin-top:3.5rem;
}

.rounded-circle{
        max-width: 100%;
        height: auto;
      }

ul{
    padding-left: 20%;
    list-style: none;
}


.home{
    background-image: url(images/mineral.jpg);
    background-size: 100%;
     
}
 
#skills{
    padding-top: 10%;
    padding-bottom: 10%;
}

.tools{
    margin-top: 10%;
    font-size: 150%; 
}

#formations{
    padding-top: 10%;
    padding-bottom: 10%;
    background-color:  darkslategrey;
    background-size: 100%;
    color: white;
}

#experiences{
    padding-top:10%;
    padding-bottom:10%;
}

.rounded-circle{
    margin: auto;
    padding: 3%;

}

.instaLogo{
    margin: 2%;
}